//- we extend the base template for an HTML page
//- (this makes us a well-formed HTML5 document)
extends ../../views/page

//- the actual markup though is defined
//- in its own file. This allows us to reuse
//- the same markup for the widget view
include ../views/markup

append styles
    link(rel="stylesheet", type="text/css", href="mocha.css")
    link(rel="stylesheet", type="text/css", href=name + ".css")

append scripts
    script(src="mocha.js")
    script(src="chai.js")
    script(src="sinon.js")
    script(src="jquery.js")
    
    script
        mocha.setup('bdd'); 
        mocha.globals('#{name}')
        expect = chai.expect;
    if tests
        each t in tests.split(" ")
            script(src=t)

    script
        if (window.mochaPhantomJS) {
            mochaPhantomJS.run();
        } else {
            mocha.run();
        }

    script(src=name + ".js")


block body
    #mocha
    .subdom(name="board")
        //- this applies the 'markup' mixin defined in markup.jade
        mixin markup

