.board
    list-style: none
    font-style: Courier
    font-size: 14px
    width: 3*4em

    li
        float: left
        display: block
        border: 0px
        margin: 0
        width: 4em
        height: 4em

    .field
        border: 1px solid #333
        margin: .1em .1em
        padding: .1em .1em
        height: 3.6em
        background-color: #666

        